.dialog-content {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.dialog-actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.action-button {
  margin: 0 8px;
  width: 150px;
  height: 44px;
  border-radius: 8px;
  color: #ffff;
  border: none;
  cursor: pointer;
}

mat-form-field {
  margin-bottom: 16px;
}
