<div class="container">
  <div class="card">
    <mat-card-title class="card-header">
      <span class="title">Cadastro de Associados</span>
      <app-button [text]="'Cadastrar'" (click)="openDialog()"></app-button>
    </mat-card-title>

    <div *ngIf="associados.length === 0">
      <mat-card class="no-associados-card">
        <mat-card-content>
          <p>Nenhum associado registrado</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="associados.length > 0">
      <div *ngFor="let associado of associados; let i = index">
        <mat-card class="associados-card">
          <mat-card-content>
            <mat-card-title>Associado #{{ associado.id }}</mat-card-title>
            <mat-card-subtitle>Nome: {{ associado.nome }}</mat-card-subtitle>
          </mat-card-content>

          <mat-card-actions class="btn-actions-container">
            <button class="btn-actions" (click)="openDialog(associado)">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="btn-actions" (click)="handleDelete(associado.id)">
              <i class="fa-regular fa-trash-can"></i>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </div>
</div>
